<footer class="footer">
    <div class="footer-container">
        <div class="footer-copyright">
            &copy; <span id="current-year"></span> All Rights Reserved
        </div>
        <div class="footer-links">
            <a href="/privacy-policy" class="footer-link">Privacy Policy</a>
            <a href="/terms-and-conditions" class="footer-link"
                >Terms & Conditions</a
            >
            <a href="/faq" class="footer-link">FAQ</a>
            <a href="/help" class="footer-link">Help</a>
        </div>
    </div>
</footer>
</div>
</body>

<script src="/js/common.js"></script>
<% if (currentPage === 'dashboard') { %>
    <script src="/js/dashboard.js"></script>
<% } else if (currentPage === "index") { %>
    <script src="/js/index.js"></script>
<% } else if (currentPage === "register") { %>
    <script src="/js/register.js"></script>
<% } else if (currentPage === "login") { %>
    <script src="/js/login.js"></script>
<% } else if (currentPage === "") { %>
    <script src="/js/.js"></script>
<% } else if (currentPage === "") { %>
    <script src="/js/.js"></script>
<% } else if (currentPage === "") { %>
        <script src="/js/.js"></script>
<% } else if (currentPage === "") { %>
    <script src="/js/.js"></script>
<% } else if (currentPage === "") { %>
    <script src="/js/.js"></script>
<% } else if (currentPage === "") { %>
    <script src="/js/.js"></script>
<% } else if (currentPage === "") { %>
    <script src="/js/.js"></script>
<% } else if (currentPage === "") { %>
    <script src="/js/.js"></script>
<% } %>
</html>


